In [6]:
# Dependencies
import pandas as pd

In [7]:
# load CSV
file = "Resources/2016-FCC-New-Coders-Survey-Data.csv"

In [8]:
# Read with pandas--low_memory required to suppress errors about mixed data types
coders_df=pd.read_csv(file)
coders_df

FileNotFoundError: [Errno 2] File Resources/2016-FCC-New-Coders-Survey-Data.csv does not exist: 'Resources/2016-FCC-New-Coders-Survey-Data.csv'

In [4]:
# Take only columns 0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
extracted_df= coders_df.iloc[:, [0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]
extracted_df

NameError: name 'coders_df' is not defined

In [5]:
# Change reading 0 and 1 to No and Yes, respectively
extracted_df = extracted_df.replace({0: "No", 1: "Yes"})
extracted_df.head(5)

NameError: name 'extracted_df' is not defined

In [6]:
# Extract rows for only those who attended a bootcamp
attended_bootcamp = extracted_df.loc[extracted_df['AttendedBootcamp'] == "Yes"]
attended_bootcamp.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
93,32.0,Yes,Yes,No,No,NaN,No,NaN,"between 100,000 and 1 million",NaN,United States of America,"arts, entertainment, sports, or media",Self-employed business owner,male,NaN,20,67000.0,NaN,bachelor's degree,Biology
97,26.0,Yes,Yes,Yes,No,45000.0,No,NaN,more than 1 million,NaN,United States of America,software development,Employed for wages,male,No,10,40000.0,NaN,master's degree (non-professional),Music
130,41.0,Yes,Yes,Yes,Yes,75000.0,Yes,3,"less than 100,000",NaN,United States of America,software development,Employed for wages,male,Yes,30,75000.0,NaN,"some college credit, no degree",NaN
159,26.0,Yes,Yes,No,No,NaN,No,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working and not looking for work,female,NaN,30,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
188,24.0,Yes,No,NaN,Yes,NaN,No,NaN,"between 100,000 and 1 million",NaN,Canada,NaN,Not working but looking for work,female,NaN,60,NaN,NaN,"some college credit, no degree",NaN

In [7]:
# Create DataFrame of the different boot camps that had a significant number of attendees
Bootcampnames_df = coders_df.groupby(["BootcampName"])
print(Bootcampnames_df)
NewBootcamp_df = Bootcampnames_df.count().sort_values("AttendedBootcamp", ascending=False).head()
NewBootcamp_df = NewBootcamp_df[["AttendedBootcamp"]].head()
NewBootcamp_df

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001841A3AD460>

                       AttendedBootcamp
BootcampName
General Assembly                     90
Flatiron School                      54
Dev Bootcamp                         48
The Iron Yard                        40
Prime Digital Academy                30

In [8]:
# Count how many attendees of each bootcamp would recommend the bootcamp
attended_bootcamp["BootcampRecommend"] = attended_bootcamp["BootcampRecommend"].replace({0: "No", 1:"Yes", "NA": "NA"})
attended_bootcamp
attended_bootcamp["BootcampRecommend"].value_counts()

<ipython-input-8-d6904b9f41f5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attended_bootcamp["BootcampRecommend"] = attended_bootcamp["BootcampRecommend"].replace({0: "No", 1:"Yes", "NA": "NA"})

Yes    736
No     201
Name: BootcampRecommend, dtype: int64

In [ ]:
# Merge the two created data frames on the name of tbe bootcamp

In [ ]:
# Calculate percentage of eac bootcamp's students who are recommenders

In [ ]:
# Export to excel and remove index